/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: #e2e8f0;
  padding: 30px;
}

/* Title */
h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #38bdf8;
}

/* Toggle Button */
button {
  display: block;
  margin: 0 auto 20px;
  padding: 8px 15px;
  border: none;
  background: #0ea5e9;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #38bdf8;
}

/* Section titles */
h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #facc15;
}

/* Snippet Card */
.snippet {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 12px;
  transition: 0.3s;
  animation: fadeIn 0.5s ease-in;
}

.snippet:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #0ea5e9;
}

.snippet h3 {
  color: #22c55e;
  margin-bottom: 10px;
}

/* Code */
pre {
  background: black;
  color: #00ff9c;
  padding: 10px;
  border-radius: 8px;
  overflow-x: auto;
}

/* Copy button inside card */
.snippet button {
  margin-top: 10px;
}

/* Leaderboard */
#leaderboard {
  list-style: none;
}

#leaderboard li {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

#leaderboard li:first-child {
  border: 1px solid gold;
  box-shadow: 0 0 10px gold;
}
/* Light Mode Leaderboard */
body.light #leaderboard li {
  background: white;
  color: black;
  border: 1px solid #ccc;
}

body.light #leaderboard li:first-child {
  border: 1px solid gold;
  box-shadow: 0 0 10px gold;
}
body.light #leaderboard li:hover {
  background: #f1f5f9;
}
/* Light mode */
body.light {
  background: #f5f5f5;
  color: #111;
}

body.light .snippet {
  background: white;
}

body.light pre {
  background: #eee;
  color: black;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
